[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
djangorestframework-jwt = "*"
uuid = "*"
django-filter = "*"
celery = "*"
django-celery-beat = "*"
flower = "*"
django-ses = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
pytz = "*"
pytest = "*"
django-celery-results = "*"
pytest-django = "*"
page = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
